@{
    ViewData["Title"] = "Home Page";
}
<script>
    function callapi() {

        $.ajax({
            type: "GET",
            url: "https://localhost:44398/api/product/GetProductByName/YOSSEF",
            contentType: "application/json",
            dataType: 'json',
            success: function (result) {
                console.log(result);
            }
        });
    }

</script>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<button onclick="callapi()">
    CallApi
</button>
